In [ ]:
#name:rathod dhruvi r.
#enrollment no:216270307090
#Practical No.7: Write a Pandas program to implement following operation
#to create a dataframe from a dictionary and display it
import numpy as np
import pandas as pd
details = {'Name' : ['dhruvi', 'jal', 'mahek', 'kinjal'],'Enrollment' : [82, 90, 80, 91]}
rd = pd.DataFrame(details)
print(rd)

In [ ]:
#name:rathod dhruvi r.
#enrollment no:216270307090
#Practical No.7: Write a Pandas program to implement following operation
#gto sort the DataFrame first by 'name' in ascending order
import numpy as np
import pandas as pd
a = {'Name' : ['Jal', 'Dhruvi', 'Kinjal', 'Bagthariya'],'Enrollment' : [82, 90, 91, 80]}
df = pd.DataFrame(a)
b = df.sort_values(by=['Name'], ascending=True)
print(b)

In [ ]:
#name:rathod dhruvi r.
#enrollment no:216270307090
#Practical No.7: Write a Pandas program to implement following operation
#to delete the one specific column from the DataFrame
import numpy as np
import pandas as pd
details = {'Name' : ['Jal', 'Dhruvi', 'Kinjal', 'mahek'],'Enrollment' : [82, 90, 91, 80]}
df_new=df.sort_values(by=['Name'], ascending=True) # can specify multiple columns in a list as well.
print(df_new)

In [ ]:
#name:rathod dhruvi r.
#enrollment no:216270307090
#Practical No.7: Write a Pandas program to implement following operation
#to write a DataFrame to CSV file using tab separator
import pandas as pd
import numpy as np
students = {'Student': ['Jal', 'Dhruvi','Kinjal', 'Bagthariya'],'Enrollment': [82, 90, 91, 80]}
df = pd.DataFrame(students,columns =['Student', 'Enrollment'])
# displaying the original DataFrame
print("Original DataFrame")
print(df)
df.to_csv('Students.csv', sep =' ')
new_df = pd.read_csv('Students.csv')
print('Data from Students.csv:')
print(new_df)